### ListComprehensions

In [9]:
nums=[x for x in range(10)]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
n=[x for x in l if x%2!=0 ]
print(n)

[1, 3, 5, 7, 9]

### Errors

### Type Error

In [1]:
fruits = {"apple", "banana", "cherry"}
print(fruits[1])

TypeError: 'set' object is not subscriptable

In [2]:
len(55)

TypeError: object of type 'int' has no len()

In [18]:
l=[1,2,3,4,5]

t=sum(l)
print(t)
len(l)

15

5

### Error Handling

In [3]:
prices = [250, 300, "240", 400]
try:
  #block that may cause an exception
  total = sum(prices)
  print(total)

except :
  # to perform if there is an exception
    print("Invalid data type")

print("Happy Shopping")

Invalid data type
Happy Shopping

In [10]:
prices = [559, 879,  349]
try:
  print(sum(prices))
except TypeError:
  print("Check the prices")
else:
    print("hello")
finally:
  print("Need help? Contact us")

1787
hello
Need help? Contact us

In [11]:
prices = [559, 879,  349,"990"]
try:
  print(sum(prices))
except TypeError:
  print("Check the prices")
else:
    print("hello")
finally:
  print("Need help? Contact us")

Check the prices
Need help? Contact us

### Value Error

In [4]:
print("Rate from 0 to 10")
rate = 15
if rate > 10 or rate < 0:
   raise ValueError

Rate from 0 to 10

ValueError:

In [8]:
#ValueError
a="asdf"
try:
    b=int(a)
    print(b)
except ValueError as e:
    print(f"Error : {e}")
    print("Enter a number")

Error : invalid literal for int() with base 10: 'asdf'
Enter a number

In [7]:
#TypeError

a=5
try:
    print(len(a))
except TypeError as e:
    print(f"Error :{e}")
    print("len function only for iterables")

Error :object of type 'int' has no len()
len function only for iterables

### Name Error

In [16]:
#NameError
a="Error's"
try:
    print(A)
except NameError:
    print("Variable Not Declared")

Vaariable Not Declared

In [24]:
a=555
b=0
c="@1234"
try:
    print(e)
    d=a/b
    print(d)
    
    print(int(c))
except ZeroDivisionError:
    print("Can't divide by Zero")
except TypeError:
    print("Inavalid type conveersion")
except NameError:
    print("Variable not declared")

Variable not eclared

In [ ]:
def error_check():

In [23]:
print("a"+1)

TypeError: can only concatenate str (not "int") to str

## Functions

In [8]:
def welcome(name):
    return "welcome  " +name
a=welcome("asdf")
print(a)
great=welcome
b=great("hii")
print(b)

def enjoy(name,func):
    return func(name)
enjoy("jack",welcome) # Higher Ordeer Funnction's --->uses other functtion as arguments

welcome  asdf
welcome  hii

'welcome  jack'

In [27]:
def total(price, count):
  return price * count
total(989,2)

1978

In [29]:
def hii(user):
    print("hello ,"+user)
hii("jack")

hello ,jack
hello ,crack

In [30]:
#impure funnction
products = ['pen', 'scissors', 'paper']

def add_item(products, item):
  products.append(item)
  return products

add_item(products,"book")

['pen', 'scissors', 'paper', 'book']

In [31]:
#lanbda function with multiple arguments
a=lambda h,w : w*h
a(4,3)

12

In [32]:
#lambda function with in a function
def add(a):
    return lambda b: a+b
addition=add(5)
addition(6)

11

In [35]:
#listcompherension
l=[i*2 for i in range(10)]
print(l)

#lambda function
a=lambda x: x*2
a(2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

4

In [36]:
def shout(text):  
  return text.upper()
yell = shout
print(yell("Hello"))

HELLO

In [38]:
fruits = ["apple", "banana", "cherry", "elderberry"]
fruits_filt = list(filter(lambda x: 'a' in x, fruits))
print(fruits)

['apple', 'banana', 'cherry', 'elderberry']

In [59]:
#function

list1=[1,2,3,4]
def add(num,list1):
    return [x + num  for x in list1]
add(4,list1)

[5, 6, 7, 8]

In [66]:
#lambda function

a=(lambda lis,n : [x+n for x in lis])([1,2,3],4)
print(a)

[5, 6, 7]

### Syntax Error

In [9]:
# map
def add(a,b):
    return a+b
l=[1,2,3,4,5]
a=list(map(add(([x,y for x ,y in l]),l))
print(a)

SyntaxError: did you forget parentheses around the comprehension target? (2917844967.py, line 5)

In [10]:
def add(a, b):
    return a + b

l = [1, 2, 3, 4, 5]
b = 4
a = list(map(lambda x: add(x, b), l))
print(a)  # Output: [5, 6, 7, 8, 9]

[5, 6, 7, 8, 9]

In [4]:
#reduce 

from functools import reduce

expen=[("Dinner", 80),
      ("car",100)]

sum=reduce(lambda a,b :a[1]+b[1],expen)
print(sum)

180

In [18]:
def to_upper(fun):
    def wrap():
        print("Before")
        message=fun()
        upper=message.upper()
        print("After")
        return upper
    return wrap

@to_upper
def great():
    return "Hello"